:root {
    font-size: 18px;

    --main-text-color: #515151;
    --header-text-color: #222222;
    --template-text-color: #FFC53D;
    --template-bg-color: #FF9A3D;
    --template-bg-gray: #FAFAFF;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--main-text-color);
    line-height: 1.7;
    /*box-sizing: border-box;*/
    max-width: 1440px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--header-text-color);
}

nav h5 {
    color: var(--main-text-color);
}

h1 {
    font-size: 5.5rem;
    color: var(--template-text-color);
}

h2 {
    font-size: 2rem;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
}

h5 {
    font-size: 1.3rem;
    letter-spacing: 5px;
}

.fab {
    font-size: 1rem;
}

.circle-white {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 0.9rem;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 5px;
}

.circle-white {
    background: white;
}

.fa-twitter,
.fa-linkedin-in,
.fa-facebook-f {
    color: var(--template-bg-color);
}

.fa-github {
    color: white;
    font-size: calc(0.9rem + 10px);
    padding-top: 3px;
}

.round {
    border-radius: 50%;
}

.cursor-pointer {
    cursor: pointer;
}

.border-color-left {
    border-left: 4px dashed var(--template-text-color);
}

.header {
    height: 585px;
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
}

.header p {
    font-size: 2rem;
}

nav a {
    color: var(--main-text-color);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: var(--template-text-color);
    text-decoration: none;
}

.button-orange-hover,
.button-orange {
    border: solid 1px var(--template-text-color);
    border-radius: 15px;
    color: var(--template-text-color);
    font-weight: bold;
    padding: 10px 50px;
    cursor: pointer;
    float: left;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

.button-orange-hover {
    color: white;
    background-image: linear-gradient(to right, #FF9A3D, #FFC53D);
    border-width: 0px;
}

.button-orange:hover {
    color: white;
    background-image: linear-gradient(to right, #FF9A3D, #FFC53D);
}

.bg-gray,
.bg-gray-left,
.bg-gray-right {
    padding-top: 20px;
    padding-bottom: 75px;
}

.bg-gray-left,
.bg-gray-right {
    margin: 50px 0;
}

.bg-gray {
    background-color: var(--template-bg-gray);
    /*background-color: #b13232;*/
    margin-top: 50px;
}

.bg-gray-left {
    background-image: linear-gradient(to right, var(--template-bg-gray) 70%, white 60%);
    /*background-image: linear-gradient(to right, #b13232 70%, white 60%);*/
}

.bg-gray-right {
    background-image: linear-gradient(to left, var(--template-bg-gray) 70%, white 60%);
    /*background-image: linear-gradient(to left, #b13232 70%, white 60%);*/
}

.bg-orange {
    background-color: var(--template-bg-color);
}

.box ul li {
    list-style: none;
    font-weight: bold;
}

.box ul li span,
.box ul li span a {
    color: var(--template-text-color);
    text-decoration: none;
}

.portfolio img {
    width: 100%;
    height: auto;
}

.skills img {
    width: auto;
    height: 83px;
}

.skills h4 {
    padding-left: 33.3%;
}

.skills h5 {
    font-weight: bold;
    font-size: 1.4rem;
    padding-top: 45px;
    color: var(--template-text-color);
    letter-spacing: 0;
}

.portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: white;
    background-image: linear-gradient(to top, rgba(255, 154, 61, 0.5), rgba(34, 34, 34, 0.5))
}

.portfolio-hover h4 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;
}

.portfolio-hover p {
    font-size: .9rem;
}

.contact-info {
    padding: 25px 50px;
    color: white;
}

.contact-info .icon {
    width: 50px;
}

.contact-info p {
    width: 75%;
    line-height: 1.7;
}

.contact-info a {
    color: white;
    text-decoration: underline;
}

.contact-address {
    position: absolute;
    width: calc(100% - 50px);
    bottom: 10px;
}

.contact-form {
    padding: 25px 50px;
}

.triangle-right {
    position: absolute;
    top: 25px;
    left: -1px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 24px solid var(--template-bg-color);
    border-bottom: 20px solid transparent;
}

.contact-form h2 {
    font-weight: bold;
}

.contact-form .form-control {
    font-family: 'Ubuntu', sans-serif;
    height: calc(2rem + .75rem + 2px);
    color: #A0A0A0;
    background-color: var(--template-bg-gray);
    border: none;
    border-radius: 15px;
}

.form-control:focus {
    border-color: initial;
    -webkit-box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.contact-form textarea.form-control {
    height: auto;
}

.contact-form textarea {
    resize: none;
}

.contact-form .button-orange {
    display: block;
    float: right;
}

footer {
    font-family: 'Ubuntu', sans-serif;
    font-size: .75rem;
    color: #A0A0A0;
}

@media screen and (max-width: 991px) {
    .contact-address {
        position: relative;
    }

    .triangle-right {
        top: -1px;
        left: 50px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 24px solid var(--template-bg-color);
    }
}

@media only screen and (max-width: 767px) {
    ul {
        padding: 0;
    }

    h1 {
        font-size: 4rem;
    }

    .border-color-left {
        border-left: none;
        border-top: 4px dashed var(--template-text-color);
        padding-top: 20px;
    }

    .portfolio-img {
        overflow: hidden;
    }

    .portfolio-img img {
        width: auto;
        height: 100%;
    }

    .button-orange-hover,
    .button-orange {
        padding: 10px 30px;
    }
}

@media only screen and (max-width: 575px) {
    :root {
        font-size: 16px;
    }
}