body {
	background: white;
}

figure {
	margin: 5em auto;
	width: 350px;
	height: 150px;
}

.table td, .table th{
	border-top: none;
	border-bottom: 1px solid #dee2e6;
}

.no-border{
	border: none !important;
}